/vendor
/node_modules
/languages
/dist
/build
.DS_Store
**/.DS_Store
.phpunit.result.cache
.phpunit.result
phpunit.xml.bak
.phpunit.cache
.phpunit.cache/
.idea
.idea/
.vscode/
workbench
.php-cs-fixer.cache
composer.lock
tests/temp
phpcs.xml